@font-face {
  font-family: 'switzerland';
  src: url('https://dacartintas.vteximg.com.br/arquivos/switzerland-bold.ttf.css')/*Para navegadores Internet Explorer*/;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'switzerland';
  src: url('https://dacartintas.vteximg.com.br/arquivos/switzerland-italic.ttf.css')/*Para navegadores Internet Explorer*/;
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica';
  src: url('https://dacartintas.vteximg.com.br/arquivos/Helvetica.ttf.css')/*Para navegadores Internet Explorer*/;
  font-weight: normal;
  font-style: normal;
}



