.footer{
    background-color: #F1F1F1;

    &__links{
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        letter-spacing: 0.05em;
        padding-top: 40px;
        padding-bottom: 70px;
        width: 100%;
        

        h3{
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 21px;
            color: #4F4F4F;
        }
        a{
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            text-decoration: none;
            color: #4F4F4F;
        }
    }
    
}
.footer__razao{
    background-color: #F1F1F1;
    padding: 15px 0 25px;
    margin-top: -45px;

    &__text{
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
    }
    p{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #6F6F6F;
    }
    a{
        font-family: 'Dosis';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #6F6F6F;
        text-decoration: none;

    }
}
.iconsCompre{
    margin-top: 2em;
    margin-left: 6em;
    .container{
        .CompreTelefone{
            display: flex;
            img{
                height: 59px;
                width: 59px;    
            }
            ul{
                padding-left: 20px;
                li{
                    h3{
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 17px;
                        color: #ED1B34;
                    }
                    p{
                        
                        padding-right: 33px;
                        font-family: 'Arial';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 15px;
                        color: #305347;
                    }
                }
            }
        }
        .CompreWhats{
            display: flex;
            img{
                height: 59px;
                width: 59px;    
            }
            ul{
                padding-left: 20px;
                li{
                    h3{
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 17px;
                        color: #ED1B34;
                    }
                    p{
                        padding-right: 33px;
                        font-family: 'Arial';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 15px;
                        color: #305347;
                    }
                }
            }
        }
        .ComprePertinho{
            display: flex;
            img{
                height: 59px;
                width: 59px;    
            }
            ul{
                padding-left: 20px;
                li{
                    h3{
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 17px;
                        color: #ED1B34;
                    }
                    p{
                        padding-right: 33px;
                        font-family: 'Arial';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 15px;
                        color: #305347;
                    }
                }
            }
        }
        .CompreRedes{
            display: block;
            img{
                height: 38px;
                width: 38px;    
            }
            h3{
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 17px;
                color: #ED1B34;
            }
            ul{
                display: flex;
                padding-left: 0px;
                li{
                    padding-right: 10px;
                    p{
                        padding-right: 33px;
                        font-family: 'Arial';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 15px;
                        color: #305347;
                    }
                }
            }
        }
    }
   
}

@media (max-width: 600px) {
    .footer__razao__text{
        text-align: center;
        display: block;
    }
    .footer{
        &__links{
            flex-direction: column;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 8px;
            >div{
                flex: 1 0 auto;
                width: 100%;
            }
            h3{
                &::before{
                    border-top: 2px solid #c4c4c4;
                    content: "";
                    position: absolute;
                    top: 9px;
                    right: 0;
                    transition: all 0.25s ease-in-out;
                    width: 10px;
                }
                &::after{
                    transform: rotate(90deg);
                }
            }
            ul{
                max-height: 0;
                opacity: 0;
                overflow: hidden;
                transition: all 0.3s ease-in-out;
                visibility: hidden;
                li{
                    font-size: 13px;
                    font-weight: normal;
                    margin-bottom: 10px;
                    transition: all 0.15s ease-in-out;
                }
            }
        }
    }
    .iconsCompre{
        display: none;
    }
    .al-newsletter {
        .al-newsletter-input{
            text-align: center;
        }
        p{
            text-align: center !important;
        }
        #nameform, #emailform{
            margin-bottom: 6px;
        }
    }
}

