* {
  
}

@font-face {
  font-family: "Helvetica LT Std";
  src: url(/arquivos/HelveticaLTStd-BlkCond.eot.css);
  src: url(/arquivos/HelveticaLTStd-BlkCond.eot.css?#iefix)
      format("embedded-opentype"),
    url(/arquivos/HelveticaLTStd-BlkCond.woff2.css) format("woff2"),
    url(/arquivos/HelveticaLTStd-BlkCond.woff.css) format("woff"),
    url(/arquivos/HelveticaLTStd-BlkCond.ttf.css) format("truetype"),
    url(/arquivos/HelveticaLTStd-BlkCond.svg.css#HelveticaLTStd-BlkCond)
      format("svg");
  font-weight: 900;
  font-style: normal;
}

#Camada_lixo {
  fill: gray !important;
  width: 17px !important;
  margin-top: 20px !important;
}
.banner-top .box-banner a img {
  width: auto;
  max-width: 100%;
  display: block;
  margin: auto;
}
.header-spam-title {
  font-size: 16px;
  padding-left: 14px;
  color: #fff;
  font-weight: bold;
}
.top-area {
  padding: 5px;
}



.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: none !important;
  background: none !important;
}

.ui-autocomplete {
  z-index: 9999999999 !important;
  width: 513px !important;
  border-radius: 10px !important;
}

.ui-autocomplete .ui-menu-item img {
  width: 50px !important;
  height: 50px !important;
}

.header-container {
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: #ED1B34 !important;
  padding-top: 8px;
  -moz-box-shadow: 0 4px 4px RGBA(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 4px RGB(0 0 0 / 40%);
  box-shadow: 0 4px 4px RGB(0 0 0 / 40%);
}

body.menu-ativo:before {
  content: "";
  display: block;
  background-color: RGBA(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.deptonav .secondLayer, .deptonav .thirdLayer {
  display: none;
  margin-left: -1px;}


.box-banner a img {
  height: auto;
}
#top-menu {
  position: sticky;
  top: 9.9em;
  z-index: 10000000;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.btn-default {
  background-color: transparent !important;
  border-color: transparent !important;
}

.text-wrap {
  font-size: 10px;
  line-height: 10px;
  margin-top: 0;
  text-align: left;
}

.header .search .busca {
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: white;
  margin: auto;
  width: 95%;
}



.fulltext-search-box {
  color: #4f4f4f !important;
  /* border-radius: 20px !important; */
  outline-style: none;
  box-shadow: none;
  border-right: transparent !important;
  border-radius: 40px !important;
  font-size: 1.4em;
  height: 2.5em;
  border: none !important;
}

.btn-buscar {
  background-image: url(/arquivos/lupa.svg) !important;
  background-repeat: no-repeat !important;
  background-size: contain;
  background-position: center center;
  color: transparent !important;
  outline-style: none;
  box-shadow: none;
  border: none !important;
  background-color: white !important;
  /* border-radius: 0px 40px 40px 0px !important; */
  background-size: 20px 20px;
  border-radius: 0 !important;
  background-color: transparent !important;
}

.header .search {
  text-align: right;
  margin-right: 0;
  padding-right: 0;
}

.header .sing-in a {
  padding: 0 12px !important;
}

.dropdown-menu {
  border: none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
}

.header .sing-in a {
  font-size: 10px;
}

#drop-login {
  margin-left: -31px;
  margin-top: 15px;
  background-color: white !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  transition: 0.3s;
}

.header .sing-in a {
  color: #333;
  font-weight: 600;
}

.header .sing-in a:hover {
  font-weight: 900 !important;
}

#mini-cart-admake {
  /*width: 386px !important;*/
  border-radius: 0 !important;
  box-shadow: none !important;
  border: none !important;
}

#drop-login li {
  margin: 6px;
}

#top-menu {
  margin-bottom: 0px !important;
}

.header .button-menu-xs .btn {
  outline: none;
  margin-top: 10px;
}

#menu-mobile h2{
  color: white;
}

.header .mini-cart .btn {
  padding: 0 3px !important;
}

#menu-mobile ul li {
  padding: 10px 8px 10px 0px;
}

#menu-mobile ul li a {
  color: #fff !important;
  font-size: 12px !important;
  line-height: 30px !important;
  font-weight: 400 !important;
}

.depto-nav-area {
  background-color: #FFFF;
  margin-top: 0.4em;
  border-top: solid 1px #ffff;
  border-bottom: solid 1px #fff;
}

.deptos ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 0;
}

.deptos ul li a {
  font-size: 20px;
  line-height: 16px;
  color: #515151;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
}

.deptos ul li a:hover {
  /*color: #025EB9;*/
  color: #ED1B34;
}

.deptonav {
  /* background-color: #000;*/
  /* border-right: solid 10px #931A29;*/
  /*opacity: 0.92;*/
  z-index: 9999999999;
  display: flex;
  position: absolute;
  width: 100%;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
  transition: 0.3s;
}

.firstLayer,
.secondLayer,
.thirdLayer {
  background-color: #FFF;
  border-radius: 5px;
}


#deptos-list a {
  color: #515151 !important;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
}

#deptos-list a:hover {
  color: #ED1B34 !important;
  font-weight: bold;
}

#deptos-list a i {
  color: #ed1b34;
  font-size: 20px;
  font-weight: 800;
  padding-left: 13px;
}



#deptos-list ul li:hover a {
  color: #ED1B34 !important;
  font-weight: bold;
}

.firstLayer,
.secondLayer,
.thirdLayer {
  /* border-right: solid 5px #931A29;*/
  height: 415px;
  overflow-y: auto;
  padding-right: 0px !important;
  padding-left: 2em;
}

.firstLayer::-webkit-scrollbar {
  -webkit-appearance: none !important;
  width: 6px !important;
  height: 5px !important;
}
.secondLayer::-webkit-scrollbar {
  -webkit-appearance: none !important;
  width: 6px !important;
  height: 5px !important;
}

.thirdLayer::-webkit-scrollbar {
  -webkit-appearance: none !important;
  width: 6px !important;
  height: 5px !important;
}

::-webkit-scrollbar {
  -webkit-appearance: none !important;
  width: 12px !important;
  height: 5px !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #595959 !important;
}

.thirdLayer {
  height: 303px;
  overflow-y: auto;
}

#deptos-list ul li {
  line-height: 30px;
  margin-top: 7px;
  margin-bottom: 7px;
}

#deptos-list .secondLayer ul li {
  line-height: 30px;
  margin-top: 7px;
  margin-bottom: 7px;
  display: block;
}

#deptos-list .thirdLayer ul li {
  line-height: 30px;
  margin-top: 7px;
  margin-bottom: 7px;
  display: block;
}

#deptos-list ul li:hover #deptos-list a,
#deptos-list ul li:hover #deptos-list a i {
  color: white !important;
}

.sidenav {
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.menu-mobile-account hr {
  display: none;
}

/* Style the sidenav links and the dropdown button */

.sidenav a /*, .dropdown-btn */ {
  padding: 17px 8px 17px 0px;
  text-decoration: none;
  font-size: 13px;
  color: #ffffff !important;
  font-weight: 500;
  display: block;
  text-transform: uppercase;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav span {
  display: inline-block;
}

.dropdown-btn {
  padding: 0;
  text-decoration: none;
  color: #8b8b8b;
  text-transform: uppercase;
  border: none;
  background: none;
  cursor: pointer;
  float: right;
  padding-top: 1em;
  outline: none;
}

/* On mouse-over */

.sidenav a:hover,
.dropdown-btn:hover {
  color: #000;
}

/* Add an active class to the active dropdown button */

.active {
  color: #000;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

.dropdown-container {
  display: none;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */

.fa-angle-down,
.fa-angle-up {
  float: right;
  padding-right: 8px;
  color: #ffffff;
  font-size: 25px;
}

#mini-cart-admake .mini-cart-item .nome-produto a {
  text-align: left;
  font-size: 15px !important;
  line-height: 20px !important;
  color: #333 !important;
  font-weight: 500 !important;
}

#mini-cart-admake .mini-cart-item .qtd-valor {
  margin-top: 1em;
  color: black !important;
}

#mini-cart-admake .mini-cart-item .qtd-valor .preco,
#mini-cart-admake .mini-cart-item .qtd-valor .qtd {
  color: #931a29 !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 18px !important;
}

#mini-cart-admake .mini-cart-footer .mini-cart-totais {
  background-color: #fff;
  padding: 10px;
}

#mini-cart-admake #mini-cart-admake-total,
#mini-cart-admake .mini-cart-totais span,
.mini-cart-footer .frete-atual {
  color: #333 !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 18px !important;
}

#mini-cart-admake #mini-cart-admake-total {
  font-weight: 700 !important;
}

#mini-cart-admake .mini-cart-itens {
  overflow-y: auto;
  max-height: 600px;
}

#mini-cart-admake #mini-cart-admake-total {
  color: #ED1B34 !important;
}

#mini-cart-admake {
  right: -25px !important;
}

#mini-cart-admake .mini-cart-botao .btn-finalizar-compra {
  line-height: 26px !important;
  border-radius: 5px !important;
  color: #515151 !important;;
  display: block;
  text-transform: uppercase;
  background-color: #FFC62A !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  padding: 12px !important;
  text-decoration: none;
  float: right;
  width: 100%;
  margin: 4px 0;
  text-align: center;
}

#mini-cart-admake .just-close-it .btn-finalizar-compra {
  background-color: #E4E4E4 !important;
}

.portal-minicart-ref {
  display: none !important;
}
#mini-cart-admake .mini-cart-item .imagem {
  margin-right: 8px;
}

.slick-prev,
.slick-next {
  z-index: 2;
}

.slick-prev {
  left: 5px !important;
}

.slick-next {
  right: 5px !important;
}
.fullbanner .slick-prev {
  left: 24px !important;
}

.fullbanner .slick-next {
  right: 24px !important;
}
.slick-prev::before,
.slick-next::before {
  content: "" !important;
}

.vtexIdUI {
  top: 22% !important;
}

.vtexIdUI .modal-header .close {
  display: block !important;
}

#box-bread-brumb {
  padding: 10px 0 15px !important;
  margin-top: 1em;
}

#mini-cart-admake {
  display: block !important;
  width: 100% !important;
  position: initial !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  border: none !important;
}

.portal-totalizers-ref {
  display: none !important;
}

.sidenavcart {
  z-index: 9999999999;
  top: 0;
  padding: 2em;
  right: -880px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
  height: 100%;
  position: fixed;
  width: 485px;
  transition: 0.5s;
  padding-top: 60px;
  background-color: white;
}

.sidenavcart a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenavcart .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.prateleira.vitrine h2 {
  display: none;
}

.vtexIdUI .btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #084794 !important;
  background-image: linear-gradient(to bottom, #084794, #084794) !important;
  background-repeat: repeat-x;
  border-color: #084794 #084794 #084794 !important;
  border-color: rgba(0, 136, 195, 0.1) rgba(0, 136, 195, 0.1)
    rgba(0, 136, 195, 0.25);
}

.vtexIdUI .modal-header {
  color: white !important;
  background: #084794 !important;
  border-bottom: 1px solid #084794 !important;
  border-top: 1px solid #084794;
}
.vtexIdUI a {
  color: #333 !important;
}

.vtexIdUI .btn {
  box-shadow: none !important;
}

.vtexIdUI .modal-header .close {
  background: #931a29 !important;
}

.vtexIdUI {
  border: none !important;
}

.cart-top span {
  margin-right: 2px;
  vertical-align: top;
  font-weight: bold;
  font-size: 20px;
  color: #4f4f4f !important;
}

.sing-in{
  .nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    align-items: stretch;
    justify-content: space-between;
    list-style: none;
  }
}

@media screen and (max-height: 450px) {
  .sidenavcart {
    padding-top: 15px;
  }

  .sidenavcart a {
    font-size: 18px;
  }
}



.modal-header.atendimento-header{
  background-color: #3A3637;
  border-radius: 14px 14px 0px 0px;
  color: white;
  padding: 18px;
  margin-bottom: 1.5em;
}

.modal-content.atendimento{
    background-color: white !important;
    border-radius: 14px 14px 14px 14px;
}

.meus-pedidos-modal{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #ACACAC;
  border-radius: 5px;
  padding: 5px 0px;
  margin-bottom: 2em;
}

.meus-pedidos-modal-box{
  background-color: #012CC8 !important;
  color: white !important;
  border-radius: 3px;
  padding: 5px 15px;
}

.mande-mensagem-modal-email-box, .wpp-modal-email-box{
    margin-bottom: 2em;
}
.mande-mensagem-modal-email-box a{
  color: #6F6F6F;
  text-decoration: revert;
}

.wpp-modal-email-box a{
  display: flex;
  align-items: self-start;
  justify-content: flex-start;
}

.wpp-modal-email-box a .order-text-box{
  padding-left: 1em;
}

.wpp-modal-email-box a .order-text-box h5{
  color: #3C3C3C;
  font-weight: 600;
}

.wpp-modal-email-box a .order-text-box p{
  color: #012CC8;
  font-weight: 500;
}

.hora-atendimento-modal-email-box p{
    color: #3C3C3C;
    font-size: 18px;
}
.hora-atendimento-modal-email-box span{
    color: #6F6F6F;
}


.hora-atendimento-modal-email-box{
    margin-bottom: 4em;
}

@media screen and (max-width: 1100px) {
    #atendimento-modal{
        left: 67.7%;
    width: 100%;
    }

    .meus-pedidos-modal{
        padding: 5px 8px;
    }

    .order-text-box{
        margin-left: 10px;
    }
}

@media screen and (min-width: 1200px) {

  #usuario-cart{
    margin-top: -6px;
  }

    .modal-content.atendimento{
        width: 85%;
    }

    #atendimento-modal{
        left: 50%;
    top: 18%;
    }
  #headerrow {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  .header-container {
    padding-top: 16px;
  }

  .slick-prev {
    left: -15px !important;
  }

  .slick-next {
    right: -15px !important;
  }

  .sing-in .navbar-nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #454545;
    padding: 3px 0px;
    border-radius: 5px;
    margin-top: 2px;
  }



  #usuario-giftlist,
  #usuario-login,
  #usuario-cart {
    margin: 0 10px;
  }
}

@media screen and (max-width: 1200px) {
  ._orientationLeft_2657.wrap_196d,
  #powerSliderWidget1 {
    z-index: 33 !important;
  }

  #mini-cart-admake .mini-cart-itens {
    max-height: 460px;
  }
  #headerrow {
    margin-top: 10px;
  }
  .link-logo img {
    max-width: 200px;
  }
  .btn-buscar {
    max-width: 18px;
  }
  .fulltext-search-box {
    height: 2.5em;
  }

  .vtexIdUI {
    top: 28% !important;
  }

  .ui-autocomplete {
    width: 328px !important;
    left: 20px !important;
  }

  #mini-cart-admake .mini-cart-botao .btn-finalizar-compra {
    width: 100%;
  }
  #menu-mobile ul li a {
    color: #fff !important;
  }

  #menu-mobile {
    background-color: #B11D2F !important;
  }


}

@media screen and (max-width: 600px) {
  .depto-nav-area {
    margin-top: 1.8em;
  }

  .header .search {
    text-align: center;
  }
  .header .mini-cart,
  .header .button-menu-xs {
    margin-top: 2%;
  }
  #menu-mobile .header-menu-mobile {
    margin-top: 8%;
  }

  #menu-mobile .header-menu-mobile h2{
    color: white;
  }
  #admake-advanced-filter {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  .header {
    margin-bottom: -26px !important;
  }

  .header .search .busca {
    margin-right: 12px;
    margin-bottom: 14px;
  }

  .btn-buscar {
    background-size: 18px 18px;
  }

  .sidenavcart {
    width: 100%;
  }

  .mini-cart-xs {
    margin-left: -10px;
  }

  .header .search .fulltext-search-box{
    height: 33px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  #menu-mobile {
    height: 709px;
    overflow-y: auto;
  }

  #usuario-cart {
    margin-top: 5px;
  }

  .header .search .fulltext-search-box {
    width: 90% !important;
  }
  .btn-buscar {
    max-width: 21px;
  }

  .btn-buscar {
    margin-right: 6px;
  }

  .header-container {
    padding-top: 14px !important;
  }

  .ui-autocomplete {
    width: 358px !important;
    left: 32% !important;
  }
}
