body#checkoutMainContainer {
    background: rgba(242, 242, 242, 0.7) !important;
}

.Header{
	background: #ED1B34;
    margin-top: -2em;
    .container{
        height: 70px;
        padding-top: 21px;
        .row{
            justify-content: center;
        }
        img{
            width: 220px;
            height: auto;
        }
    }
}