.home {
	.main-gallery {
        .desktop{
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    .tipbar{
        background-color: #F8F8F8;
        &__frete{
            padding-top: 28px;
            padding-bottom: 10px;
            ul{
                display: flex;
                justify-content: space-evenly;
                li{
                    img{
                        width: 80%;
                        height: auto;
                    }
                }
            }
        }
    }
    .bannertintas{
        &__dacar{
            ul{
                display: flex;
                justify-content: center;
                li{
                    padding: 20px;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }

    .segmentos{
        button.slick-prev.slick-arrow{
            margin-left: 33px !important;
        }
        h3{
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 19px;
            color: #26231E;
            padding-top: 2em;
        }
        ul{
            li{
                padding: 25px;
               img{
                   height: 200px;
               }
            }
        }
    }
    .bannertintas03{
        .container{
            display: flex;
            .bannertintas03__dacar{
                justify-content: end;
                img{
                    width: 570px;
                    height: auto;
                }
            }
            .bannertintas__dacar02{
                ul{
                    li{
                        img{
                            width: 500px;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    .NossasTintas{
        .NossasTintas__conteudo {
            h3{
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 19px;
                color: #26231e;
                padding-top: 2em;
            }
            button.slick-prev.slick-arrow{
                margin-left: 33px !important;
            }
          
            ul{
                li{
                    padding: 18px;
                }
            }
    
        }
    }
    .AreaBlog{
        &__conteudo{
           ul{
               li{
                   padding: 15px;
                h3{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 21px;
                    text-transform: uppercase;
                    color: #515151;
                    padding-top: 30px;
                    padding-bottom: 18px;
                }
                p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 20px;
                    color: #515151;
                    padding-bottom: 13px;
                }
                button{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 15px;
                    background: #FFC62A;
                    border: none;
                    border-radius: 3px;
                    text-align: center;
                    padding: 18px 45px 18px 45px;
                    color: #4F4F4F;
                }
               }
           }
        }
    }

    
}
