@import "_mixins/almah-mixins";


#institucional-content {
    margin-top: 5em;
	margin-bottom: 5em;
	.row{
		justify-content: center;
	}
}
.Btn-acesse {
	margin: 0;
    margin-right: 1em;
	h3 {
		font-size: 22px;
		margin-left: 12%;
		font-family: "ChaletComprime-CologneEighty";
	}
	li {
		border: 2px solid #C4C4C4;
		height: 47px;
		width: 210px;
		margin-bottom: 19px;
		border-radius: 10px;
		text-align: center;
	}
	a {
		color: #C4C4C4;
		text-decoration: none;
		text-align: center;
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 43px;
		text-align: center;
	}
	p{
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		color: #4F4F4F;
	}
}

